<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>콘텐츠 타입 등록</title>
</head>
<body>
    <div th:insert="header :: header"></div>

    콘텐츠 타입 등록

    <form th:action="@{~/contents_type/registry}" method="post">
        <div>
            콘텐츠 타입명 : <input type="text" name="contentsTypeName" />
        </div>
        <div>
            순서 : <input type="number" name="sequence" min="1" max="9999" value="9999" />
        </div>
        <div>
            <button>등록</button>
            <a th:href="@{~/contents_type/list}">취소</a>
        </div>
    </form>

</body>
</html>