<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devy.moaview.service.mapper.SiteMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="siteNo" parameterType="devy.moaview.domain.Site">
        INSERT INTO site(
            site_name,
            site_url
        ) VALUES (
            #{siteName},
            #{siteUrl}
        )
        ;
    </insert>

    <delete id="delete" parameterType="devy.moaview.domain.Site">
        DELETE FROM site
        WHERE
            site_no = #{siteNo}
        ;
    </delete>

    <update id="update" parameterType="devy.moaview.domain.Site">
        UPDATE site
        SET
            site_name = #{siteName},
            site_url = #{siteUrl}
        WHERE
            site_no = #{siteNo}
        ;
    </update>

    <select id="select" parameterType="devy.moaview.controller.request.RequestSite" resultType="devy.moaview.domain.Site">
        SELECT *
        FROM site
        WHERE 1=1
            <if test="siteName != null">
                AND site_name LIKE '%' || #{siteName} || '%'
            </if>
            <if test="0 &lt; pageNo">
                limit #{limit}
                offset #{offset}
            </if>
        ;
    </select>

    <select id="selectOne" parameterType="int" resultType="devy.moaview.domain.Site">
        SELECT
            *
        FROM site
        WHERE
            site_no = #{siteNo}
        ;
    </select>

</mapper>