<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devy.moaview.service.mapper.TargetContentsMapper">
   
    <insert id="insert" useGeneratedKeys="true" keyProperty="targetContentsNo" parameterType="devy.moaview.domain.TargetContents">
        INSERT INTO target_contents (
            contents_type_no,
            site_no,
            target_contents_name,
            target_contents_url,
            target_contents_css_selector,
            title_css_selector,
            title_attr,
            description_css_selector,
            description_attr,
            image_css_selector,
            image_attr,
            url_css_selector,
            url_attr
        ) VALUES (
            #{contentsTypeNo},
            #{siteNo},
            #{targetContentsName},
            #{targetContentsUrl},
            #{targetContentsCssSelector},
            #{titleCssSelector},
            #{titleAttr},
            #{descriptionCssSelector},
            #{descriptionAttr},
            #{imageCssSelector},
            #{imageAttr},
            #{urlCssSelector},
            #{urlAttr}
        )
        ;
    </insert>

    <delete id="delete" parameterType="devy.moaview.domain.TargetContents">
        DELETE FROM target_contents
        WHERE
            target_contents_no = #{targetContentsNo}
        ;
    </delete>

    <update id="update" parameterType="devy.moaview.domain.TargetContents">
        UPDATE target_contents
        SET
            contents_type_no = #{contentsTypeNo},
            site_no = #{siteNo},
            target_contents_name = #{targetContentsName},
            target_contents_url = #{targetContentsUrl},
            target_contents_css_selector = #{targetContentsCssSelector},
            title_css_selector = #{titleCssSelector},
            title_attr = #{titleAttr},
            description_css_selector = #{descriptionCssSelector},
            description_attr = #{descriptionAttr},
            image_css_selector = #{imageCssSelector},
            image_attr = #{imageAttr},
            url_css_selector = #{urlCssSelector},
            url_attr = #{urlAttr},
            response_code = #{responseCode},
            response_message = #{responseMessage}
        WHERE
            target_contents_no = #{targetContentsNo}
        ;
    </update>

    <select id="select" resultType="devy.moaview.domain.TargetContents" parameterType="devy.moaview.controller.request.RequestTargetContents">
        select
            *
        from target_contents
        where 1=1
            <if test="contentsTypeNo != 0">
                and contents_type_no = #{contentsTypeNo}
            </if>
            <if test="siteNo != 0">
                and site_no = #{siteNo}
            </if>
            <if test="searchWord != null">
                and target_contents_name LIKE '%' || #{searchWord} || '%'
            </if>
            <if test="0 &lt; pageNo">
                limit #{limit}
                offset #{offset}
            </if>
        ;
    </select>

    <select id="selectOne" resultType="devy.moaview.domain.TargetContents" parameterType="devy.moaview.domain.TargetContents">
        select * from target_contents
        where
            target_contents_no = #{targetContentsNo}
        ;
    </select>

</mapper>